.calendarHeader {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

.headerMonthYear {
  color: var(--orange-color);
  cursor: default;
  font-weight: 600;
  font-size: 1.1rem;
  margin: 0 0.2rem;
  text-align: center;
  width: 55%;
}

.navBtn {
  background: none;
  border: none;
  cursor: pointer;
  height: 0.9rem;
  margin: 0 0.4rem;
  outline: none;
}

.navBtn svg {
  max-height: 100%;
  width: auto;
}
