.rightBarContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 20px;
}

.profileLangContainer {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 90%;
}
